<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Restaurant Apps Starter Project</title>
</head>

<body>

  <nav class="navbar">
    <a class="navbar-brand" href="#">Mamamyu</a>
    <ul class="navbar-nav">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="#">Favorite</a></li>
      <li class="nav-item"><a href="https://github.com/nasrulgunawan">About Us</a></li>
    </ul>
  </nav>

  <section class="hero">
    <div class="hero-container">
      <h1 class="hero-heading">Bangun Karirmu Sebagai Developer Profesional</h1>
      <p class="hero-tagline">Jadilah tuan rumah di negeri sendiri dengan belajar langsung dari para inovator dan
        developer expert</p>
    </div>
  </section>

  <div class="container">
    <h1>Menu Restaurant</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>

    <div id="restaurant-menu">
      
    </div>
  </div>
</body>

</html>