<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>

  <nav class="navbar">
    <a class="navbar-brand" href="#">
      <img alt="Mamamyu Logo" width="75%" src="">
    </a>
    <a class="navbar-toggler p-0">☰</a>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active"><a href="/">Home</a></li>
        <li class="nav-item"><a href="#">Favorite</a></li>
        <li class="nav-item"><a href="https://github.com/nasrulgunawan" target="_blank">About Us</a></li>
      </ul>
    </div>
  </nav>

  <section class="hero">
    <div class="hero-container">
      <h1 class="hero-heading">Temukan Restaurant Favoritmu disini.</h1>
      <p class="hero-tagline">Pilihan terbaik dengan penawaran menarik.</p>
    </div>
  </section>

  <main id="main-content">
    <div class="container">
      <div class="content-header">
        <h1>Restaurant</h1>
        <p>Nikmati kebersamaan</p>
      </div>

      <div class="cards"></div>
    </div>
  </main>
  <footer class="text-center">Copyright © 2021 - Mamamyu</footer>
</body>

</html>